nav
{
    text-align: left;



}



#facebook
{
    text-align: left;
    width: 20px;



}
#twitter
{
    text-align: left;
    width: 20px;


}
#youtube
{

    text-align: left;
    width: 20px;

}

#logo
{
    width: 400px;
    height: 150px;

}

#banner
{
    width: 75%;
    height:150px;

}