body{
    background-color: #ffffff;
}
header{
    background-color: #ffffff;
}
main{
    background-color: #ffffff;
}
section{
    background-color: #ffffff;
}
aside{
    background-color: #ffffff;
}
article{
    background-color: #e4e1e5;
}