html, body, main {
	background-color: whitesmoke;
	font-family: 'Roboto';
}

main {
	padding-top: 260px;
	color: rgb(50, 50, 50);
	font-size: 1em;
}

section {
	font-size: 1.2em;
	background-color: transparent;
	margin-bottom: 1em;
}

h1 {
	color: rgb(67, 67, 67);
	font-weight: 700;
	text-align: center;
}

h2 {
	margin: 1em 0 1.5em 0;
	color: rgb(87, 87, 87);
	font-weight: 400;
	text-align: center;
}

iframe {
	width: 100%;
	height: 300px;
}



.input-wrapper {

}

.input-wrapper>label {
	display: inline-block;
	margin: 0px 2px;
}

.input-wrapper>input, .input-wrapper>textarea {
	width: calc(100% - 20px);
	background-color: whitesmoke;
	color: rgb(67, 67, 67);
	padding: 8px 10px;
	margin: 4px 0px 16px 0px;
	border-style: solid;
	border-color: rgb(87, 87, 87);
	border-radius: 4px;
}

.input-wrapper>textarea {
	resize: none;
}

#from-submit-wrapper {
	text-align: center;
}

#from-submit-wrapper button {
    margin: auto;
    text-align: center;
    padding: 8px 10px;
    background: transparent;
    border: rgb(50, 50, 50) 1px solid;
    border-radius: 4px;
}

#contact-alt {
	text-align: center;

}

#contact-alt p:first-child {
	margin: 24px 0px 8px 0px;
}

p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

#location-info {
	margin: 12px 0px 0px 0px;
}

#location-info p {
	margin-bottom: 2px;
}

#location-info .location-gutter {
	margin-bottom: 12px;
}

#location-info .location-ss {
	font-weight: 300;
}