@import "templatecolours.css";
body{
    background-color: whitesmoke;
    max-width: 960px;
    margin: 0px auto;
}

h1 {
    border-color: #e4e1e5;
    border-style: solid;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    margin: 1em 0 1em 0;
    font-weight: 700;
}
h2{
    margin: 1em 0 1em 0;
    padding: 0px 30px;
}
nav {
    background-color: rgba(0,0,0,0.35);
}

nav>ul {
    list-style-type: none; /*Gets rid of bullet points*/
    margin: 0;
    padding: 10px;
    overflow: hidden;
    font-size: 16px;
}

nav>ul>li {
    float: left; /*Floats each item to the left*/
}

nav>ul>li a {
    display: block;
    color: #000000;   /*Removes the underline, centres text and gives it padding*/
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
}
li a:hover {
    color: #A100CD; /*Gives it a hover colour*/
}

#campus
{
    width: 33%
}
#logo
{
    width: 20%;
}
#banner
{
    width: 103%;
}

#menu
{
    /*width: 135px;*/
    float: left;
    padding-right: 30px;
}


/* Text Styling */

p,h2,h3,h4,h5,a{

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h3,h4,h5{
    font-weight: 700;
}
header {
    position: relative;
}

header a {
    color: whitesmoke !important;
}

nav {
    position: absolute;
    bottom: 3px;
    color: whitesmoke;
}
article{
    padding-top: 50px;


}
footer{
    text-decoration-color: lightgray;
    text-align: center;
    background-color: #e4e1e5;
}

iframe{
    padding-top: 10px;
    padding-right: 20px;
}


@media (max-width: 960px) {
    nav li {
        display: block;
        width: 100%;

    }

    nav li>a {
        text-align: left !important;
    }

}