body{
    background-color: #ffffff;
}
header{
    background-color: #ffffff;
}
main{
    background-color: #ffffff;
}
section{
    background-color: #ffffff;
}
aside{
    background-color: #ffffff;
}
article{
    background-color: #5905b2;
}